.logoIut{
  max-width: 150px;
}
.ulNav{
  text-align: center;
  align-items: center;
}
.liNav{
  margin-left: 25px;
  display: flex;
}
header{
  margin-top: 2%;
  padding-bottom: 5%;
}
body{
  margin-left: 5%;
  background-color: lightgrey;
}
.divBody{
  display: flex;
  flex-wrap: wrap;
}
.divCard{
  flex: auto;
  margin-right: 5%;
  margin-bottom: 5%;
}
.divGenre{
  max-width: 35%;
  max-height: 75px;
  overflow: auto;
  flex: auto;
  padding-left: 2%; 
}
.formResearch{
  
}

